In [26]:
%matplotlib inline

import os
import cv2
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import glob

from random import randint, shuffle
from skimage.feature import hog

##Data Explorer

###- Feature Extraction
#### * object-detection-crowdai dataset
#### * object-dataset

In [2]:
data_crowdai = pd.read_csv('object-detection-crowdai/labels.csv', header=0)
data_crowdai['Path'] = './object-detection-crowdai/'+ data_crowdai['Frame']
data_crowdai = data_crowdai.drop('Preview URL', 1)
data_crowdai = data_crowdai.drop('Frame', 1)
data_crowdai['Label'] = data_crowdai['Label'].str.lower()

data_crowdai.columns = ['xmin', 'ymin', 'xmax', 'ymax', 'Label', 'Path']
data_crowdai.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>xmin</th>
      <th>ymin</th>
      <th>xmax</th>
      <th>ymax</th>
      <th>Label</th>
      <th>Path</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>785</td>
      <td>533</td>
      <td>905</td>
      <td>644</td>
      <td>car</td>
      <td>./object-detection-crowdai/1479498371963069978...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>89</td>
      <td>551</td>
      <td>291</td>
      <td>680</td>
      <td>car</td>
      <td>./object-detection-crowdai/1479498371963069978...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>268</td>
      <td>546</td>
      <td>383</td>
      <td>650</td>
      <td>car</td>
      <td>./object-detection-crowdai/1479498371963069978...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>455</td>
      <td>522</td>
      <td>548</td>
      <td>615</td>
      <td>truck</td>
      <td>./object-detection-crowdai/1479498371963069978...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>548</td>
      <td>522</td>
      <td>625</td>
      <td>605</td>
      <td>truck</td>
      <td>./object-detection-crowdai/1479498371963069978...</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
print("Number of file : ", len(data_crowdai))
print("Unique lables are", np.unique(data_crowdai['Label']))

print("Number of car : ", (data_crowdai['Label'] == 'car').sum())
print("Number of truck : ", (data_crowdai['Label'] == 'truck').sum())
print("Number of pederstrians : ", (data_crowdai['Label'] == 'pedestrian').sum())

Number of file :  72064
Unique lables are ['car' 'pedestrian' 'truck']
Number of car :  62570
Number of truck :  3819
Number of pederstrians :  5675

In [10]:
name = ['Frame', 'xmin', 'ymin', 'xmax', 'ymax', 'ind', 'Label', 'RM']

data_object = pd.read_csv('object-dataset/labels.csv', delim_whitespace=True, names=name)
data_object['Path'] = './object-dataset/' + data_object['Frame']
data_object = data_object.drop('RM', 1)
data_object = data_object.drop('Frame', 1)
data_object = data_object.drop('ind', 1)

data_object.columns = ['xmin', 'ymin', 'xmax', 'ymax', 'Label', 'Path']
data_object.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>xmin</th>
      <th>ymin</th>
      <th>xmax</th>
      <th>ymax</th>
      <th>Label</th>
      <th>Path</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>950</td>
      <td>574</td>
      <td>1004</td>
      <td>620</td>
      <td>car</td>
      <td>./object-dataset/1478019952686311006.jpg</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1748</td>
      <td>482</td>
      <td>1818</td>
      <td>744</td>
      <td>pedestrian</td>
      <td>./object-dataset/1478019952686311006.jpg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>872</td>
      <td>586</td>
      <td>926</td>
      <td>632</td>
      <td>car</td>
      <td>./object-dataset/1478019953180167674.jpg</td>
    </tr>
    <tr>
      <th>3</th>
      <td>686</td>
      <td>566</td>
      <td>728</td>
      <td>618</td>
      <td>truck</td>
      <td>./object-dataset/1478019953689774621.jpg</td>
    </tr>
    <tr>
      <th>4</th>
      <td>716</td>
      <td>578</td>
      <td>764</td>
      <td>622</td>
      <td>car</td>
      <td>./object-dataset/1478019953689774621.jpg</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
print("Number of file : ", len(data_object))
print("Unique lables are", np.unique(data_object['Label']))

print("Number of car : ", (data_object['Label'] == 'car').sum())
print("Number of truck : ", (data_object['Label'] == 'truck').sum())
print("Number of pederstrians : ", (data_object['Label'] == 'pedestrian').sum())

Number of file :  93086
Unique lables are ['biker' 'car' 'pedestrian' 'trafficLight' 'truck']
Number of car :  60788
Number of truck :  3503
Number of pederstrians :  9866

In [22]:
# Combine each dataset

data_train = pd.concat([data_object, data_object]).reset_index()
data_train = data_train.drop('index', 1)
data_train.columns = ['xmin', 'ymin', 'xmax', 'ymax', 'Label', 'Path']
data_train.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>xmin</th>
      <th>ymin</th>
      <th>xmax</th>
      <th>ymax</th>
      <th>Label</th>
      <th>Path</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>950</td>
      <td>574</td>
      <td>1004</td>
      <td>620</td>
      <td>car</td>
      <td>./object-dataset/1478019952686311006.jpg</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1748</td>
      <td>482</td>
      <td>1818</td>
      <td>744</td>
      <td>pedestrian</td>
      <td>./object-dataset/1478019952686311006.jpg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>872</td>
      <td>586</td>
      <td>926</td>
      <td>632</td>
      <td>car</td>
      <td>./object-dataset/1478019953180167674.jpg</td>
    </tr>
    <tr>
      <th>3</th>
      <td>686</td>
      <td>566</td>
      <td>728</td>
      <td>618</td>
      <td>truck</td>
      <td>./object-dataset/1478019953689774621.jpg</td>
    </tr>
    <tr>
      <th>4</th>
      <td>716</td>
      <td>578</td>
      <td>764</td>
      <td>622</td>
      <td>car</td>
      <td>./object-dataset/1478019953689774621.jpg</td>
    </tr>
  </tbody>
</table>
</div>

In [24]:
cars_s = data_train[(data_train['Label'] == 'car') | (data_train['Label'] == 'truck')].reset_index()
nocars_s = data_train[(data_train['Label'] != 'car') & (data_train['Label'] != 'truck')].reset_index()

print("Number of examples =", len(data_train)) 
print("Number of car examples =", len(cars)) 
print("Number of other examples =", len(nocars))

Number of examples = 186172
Number of car examples = 128582
Number of other examples = 57590

In [27]:
# Sampling dataset

cars = []
nocars = []

sample_size = 5000

# sampling car data in dataset
for i in range(sample_size):
    index = randint(0, len(cars_s)-1)
    image = cv2.imread(cars_s['Path'][index])
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
    image = image[cars_s['ymin'][index]:cars_s['ymax'][index], 
                  cars_s['xmin'][index]:cars_s['xmax'][index]]
    image = cv2.resize(image, (64, 64), interpolation=cv2.INTER_AREA)
    cars.append(image)

# sampling not car data in dataset
for i in range(sample_size):
    index = randint(0, len(nocars_s)-1)
    image = cv2.imread(nocars_s['Path'][index])
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
    image = image[nocars_s['ymin'][index]:nocars_s['ymax'][index], 
                  nocars_s['xmin'][index]:nocars_s['xmax'][index]]
    image = cv2.resize(image, (64, 64), interpolation=cv2.INTER_AREA)
    nocars.append(image)